audio:not([controls])
{
	display:none;height:0;
	}[hidden]{display:none;}
html{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	}
body
{
	margin:0;
	}
h1{
	font-size:2em;
	margin:0.67em 0;
	}
img{
	border:0;
	} 