article,aside,details,figcaption,figure,footer,header,hgroup,main,section,summary
{
	display:block;
	}
audio,canvas,video
{
	display:inline-block;
	}
html{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	}