@import url('https://fonts.googleapis.com/css?family=Roboto:400');
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #fff;
	background: #000;
	overflow: hidden;
	font-size: 0.85rem;
}

.play-1 {
	color: #2376a5;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.myheader {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding: 2vmax;
	z-index: 1;
}