@import url('https://fonts.googleapis.com/css?family=Roboto:400');
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #fff;
	background: #000;
	overflow: hidden;
	font-size: 0.85rem;
}

.play-1 {
	color: #2376a5;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.myheader {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding: 2vmax;
	z-index: 1;
}

.header__title {
	font-size: 1em;
	margin: 0;
	padding: 0 1em;
	color: #fff;
}

.content {
	padding: 3em 0;
}

.content.main {
	min-height: 100vh; 
	padding: 0;
}

.canvas-wrapper {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}

canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%; 
}

.p5_loading {
	background: black;
	position: fixed;
	left: 0;
	top: 0;
	background: rgb(0, 0, 0);
	width: 100%;
	height: 100%;
	z-index: 9;
	overflow: hidden;
}

.p5_loading__inner {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);  
	display: flex;
}

.p5_loading__inner span {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background: rgb(255, 255, 255);
	margin: 0 20px;
	transform-origin: center;
	animation: noiseLoad 0.5s infinite ease-in-out alternate;
}

.p5_loading__inner span:nth-child(2) {
	animation-delay: 0.33s;
}

.p5_loading__inner span:nth-child(3) {
	animation-delay: 0.66s;
}

@keyframes noiseLoad {
	from {
		transform: scale(0);
		background: rgb(255, 255, 255);
	}
	
	to {
		transform: scale(1);
		background: rgb(0, 0, 0);
		
	}
}

#uploading-animation {
	display: none;
}

#uploading-animation.is-visible {
	display: block;
}
