@import url('https://fonts.googleapis.com/css?family=Roboto:400');
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #fff;
	background: #000;
	overflow: hidden;
	font-size: 0.85rem;
}

.play-1 {
	color: #2376a5;
}